$font-size: 35px;

.create-post {
  font-size: $font-size;

  &__editor {
    margin: 3em 0;
    border: 1px solid lightgray;
    border-radius: 20px;
    font-size: $font-size;
  }

  &__settings-footer {
    font-size: $font-size;
  }

  &__settings {
    margin-bottom: 2em;
  }

  &__settings-item {
    & + & {
      margin-top: 1em;
    }
  }
}

$max-width: 700px;

.ce-block__content {
  max-width: $max-width;
}

.ce-toolbar__content {
  max-width: $max-width;
}

.ce-paragraph {
  line-height: 1em !important;
}