body {
    margin: 0;
    font-size: 16px;
    color: var(--text-color);
}

* {
    font-family: "UbuntuMono", serif;
    font-size: inherit;
}

@import "css/common/colors";
@import "css/common/fonts";
@import "header";
@import "main";
@import "user";
@import "login";
@import "section";
@import "sidebar";
@import "create";