.hamburger {
    &_hidden {
        display: none;
    }

    svg {
        padding-right: 1.5em;
    }
}

.sidebar {
    position: fixed;
    height: 100vh;
    font-size: 2.2em;
    width: 8em;
    z-index: 1;
    padding: 1em 2em;
    background-color: var(--drop-down-menu-color);
    transition: transform 100ms ease-out;
    transform: translateX(0rem);

    &__background {
        top: 8em;
        right: 0;
        bottom: 0;
        left: 0;
        position: fixed;
        background-color: var(--background-color);
        visibility: visible;

        &_hidden {
            visibility: hidden;
        }
    }

    &_hidden {
        transform: translateX(-27rem);
    }

    ul {
        list-style-type: none;
        padding-inline-start: 0;

        li {
            padding: 0.3em;
            border: 1px solid rgb(87, 87, 87);
            border-radius: 30px;
            text-align: center;
            background-color: var(--topic-chip-color);
        }

        li + li {
            margin-top: 0.5em;
        }
    }
}
