.sidebar {
    position: fixed;
    height: 100vh;
    font-size: 2.2em;
    width: 8em;
    z-index: 1;
    padding: 1em 2em;
    background-color: whitesmoke;
    transition: transform 100ms ease-out;
    transform: translateX(0rem);

    &__background {
        top: 8em;
        right: 0;
        bottom: 0;
        left: 0;
        position: fixed;
        background-color: rgba(68, 68, 68, 0.47);

        &_hidden {
            display: none;
        }
    }

    &_hidden {
        transform: translateX(-27rem);
    }

    ul {
        list-style-type: none;
        padding-inline-start: 0;

        li {
            padding: 0.3em;
            border: 1px solid rgb(87, 87, 87);
            border-radius: 30px;
            text-align: center;
            background-color: #f1f1f1;
        }

        li + li {
            margin-top: 0.5em;
        }
    }
}
