.header {
  padding: 0 2em;
  margin-bottom: 0.5em;
  min-height: 8em;
  display: flex;
  align-items: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,142,255,1) 22%);

  h1 {
    font-size: 3em;
    font-family: "NanumGothic", serif;
    color: ivory;
  }
}
