.header {
  padding: 0 2em;
  margin-bottom: 0.5em;
  min-height: 8em;
  display: flex;
  align-items: center;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

  h1 {
    font-size: 4em;
    font-family: "NanumGothic", serif;
    color: ivory;
  }
}
