@font-face {
    font-family: "UnbuntuMono";
    font-weight: 400;
    font-style: normal;
    src:
        url("../../fonts/UbuntuMono-Regular.ttf"),
        url("../../fonts/UbuntuMono-Bold.ttf"),
        url("../../fonts/UbuntuMono-BoldItalic.ttf"),
        url("../../fonts/UbuntuMono-Italic.ttf");
}

@font-face {
    font-family: "NanumGothic";
    font-weight: 700;
    font-style: normal;
    src: url("../../fonts/NanumGothic-Bold.ttf");
}
