:root {
  --text-color: #444444;
  --header-text-color: ivory;
  --topic-color: lightslategray;
  --topic-chip-color: #f1f1f1;
  --username-color: #9ba3aca8;
  --drop-down-menu-color: whitesmoke;
  --background-color: rgba(68, 68, 68, 0.47);
}